In [1]:
import pandas as pd
df = pd.read_pickle('reviews0')

In [2]:
df.head()

,num,userID,attraction,user_rating,user_location,user_contributions,user_upvotes,viamobile,review_quote,review_content,review_link
0,1,Jayne H,National Gallery,50,"Doylestown, Pennsylvania",232,73,via mobile,Special exhibit,While this museum is one of the best free thin...,/ShowUserReviews-g186338-d188862-r580914226-Na...
1,2,dbaizel,National Gallery,50,"Willoughby, Ohio",70,13,no,Fantastic and Free,"This is a wonderful Gallery that, after 3 hour...",/ShowUserReviews-g186338-d188862-r580880609-Na...
2,3,jafarisoheil,National Gallery,40,"Milton Keynes, United Kingdom",57,2,via mobile,Must see,The entrance is free. Located in trafalgar squ...,/ShowUserReviews-g186338-d188862-r580835149-Na...
3,4,JoMac110,National Gallery,30,"Northampton, UK",58,37,no,"LOvely exhibition, but very busy",Visited yesterday to see the Monet exhibition....,/ShowUserReviews-g186338-d188862-r580790648-Na...
4,5,Kuroshitsuji I,National Gallery,50,missing,8,1,via mobile,Outstanding,It was amazing. Lots of things to see. Tons of...,/ShowUserReviews-g186338-d188862-r580788964-Na...

In [5]:
sum(df.userID.value_counts() == 1)

116322

In [7]:
a = df.user_location[0]

In [3]:
def lastloc(a):
    return a.split(', ')[-1]

In [4]:
df['loca'] = df.user_location.apply(lastloc)

In [5]:
df.head()

,num,userID,attraction,user_rating,user_location,user_contributions,user_upvotes,viamobile,review_quote,review_content,review_link,loca
0,1,Jayne H,National Gallery,50,"Doylestown, Pennsylvania",232,73,via mobile,Special exhibit,While this museum is one of the best free thin...,/ShowUserReviews-g186338-d188862-r580914226-Na...,Pennsylvania
1,2,dbaizel,National Gallery,50,"Willoughby, Ohio",70,13,no,Fantastic and Free,"This is a wonderful Gallery that, after 3 hour...",/ShowUserReviews-g186338-d188862-r580880609-Na...,Ohio
2,3,jafarisoheil,National Gallery,40,"Milton Keynes, United Kingdom",57,2,via mobile,Must see,The entrance is free. Located in trafalgar squ...,/ShowUserReviews-g186338-d188862-r580835149-Na...,United Kingdom
3,4,JoMac110,National Gallery,30,"Northampton, UK",58,37,no,"LOvely exhibition, but very busy",Visited yesterday to see the Monet exhibition....,/ShowUserReviews-g186338-d188862-r580790648-Na...,UK
4,5,Kuroshitsuji I,National Gallery,50,missing,8,1,via mobile,Outstanding,It was amazing. Lots of things to see. Tons of...,/ShowUserReviews-g186338-d188862-r580788964-Na...,missing

In [6]:
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY",'United States','us','usa','u.s.','New York City', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia',
       'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose',
       'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis',
       'Columbus', 'Fort Worth', 'Charlotte', 'Seattle', 'Denver',
       'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis',
       'Nashville', 'Portland, Ore.', 'Oklahoma City', 'Las Vegas',
       'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson',
       'Fresno', 'Sacramento', 'Kansas City', 'Long Beach', 'Mesa',
       'Atlanta', 'Colorado Springs', 'Virginia Beach', 'Raleigh', 'Omaha',
       'Miami', 'Oakland', 'Minneapolis', 'Tulsa', 'Wichita',
       'New Orleans', 'Arlington']

states = map(lambda x: x.lower(), states)
def isusa(s):
    if s.lower() in states:
        return 'USA'
    else:
        return s

In [7]:
uk = ['Bedfordshire', 'Buckinghamshire', 'Cambridgeshire', 'Cheshire',
       'Cleveland', 'Cornwall', 'Cumbria', 'Derbyshire', 'Devon', 'Dorset',
       'Durham', 'East Sussex', 'Essex', 'Gloucestershire',
       'Greater London', 'Greater Manchester', 'Hampshire',
       'Hertfordshire', 'Kent', 'Lancashire', 'Leicestershire',
       'Lincolnshire', 'Merseyside', 'Norfolk', 'North Yorkshire',
       'Northamptonshire', 'Northumberland', 'Nottinghamshire',
       'Oxfordshire', 'Shropshire', 'Somerset', 'South Yorkshire',
       'Staffordshire', 'Suffolk', 'Surrey', 'Tyne and Wear',
       'Warwickshire', 'West Berkshire', 'West Midlands', 'West Sussex',
       'West Yorkshire', 'Wiltshire', 'Worcestershire', 'Flintshire',
       'Glamorgan', 'Merionethshire', 'Monmouthshire', 'Montgomeryshire',
       'Pembrokeshire', 'Radnorshire', 'Anglesey', 'Breconshire',
       'Caernarvonshire', 'Cardiganshire', 'Carmarthenshire',
       'Denbighshire', 'Aberdeen City', 'Aberdeenshire', 'Angus',
       'Argyll and Bute', 'City of Edinburgh', 'Clackmannanshire',
       'Dumfries and Galloway', 'Dundee City', 'East Ayrshire',
       'East Dunbartonshire', 'East Lothian', 'East Renfrewshire',
       'Eilean Siar', 'Falkirk', 'Fife', 'Glasgow City', 'Highland',
       'Inverclyde', 'Midlothian', 'Moray', 'North Ayrshire',
       'North Lanarkshire', 'Orkney Islands', 'Perth and Kinross',
       'Renfrewshire', 'Scottish Borders', 'Shetland Islands',
       'South Ayrshire', 'South Lanarkshire', 'Stirling',
       'West Dunbartonshire', 'West Lothian', 'Antrim', 'Armagh', 'Down',
       'Fermanagh', 'Derry and Londonderry', 'Tyrone', 'Oxford', 'Yorkshire', 'United Kingdom', 'uk', 'u.k.', 'england','London', 'Birmingham', 'Leeds', 'Glasgow', 'Sheffield', 'Bradford',
       'Liverpool', 'Edinburgh', 'Manchester', 'Bristol', 'Kirklees',
       'Fife', 'Wirral', 'North Lanarkshire', 'Wakefield', 'Cardiff',
       'Dudley', 'Wigan', 'East Riding', 'South Lanarkshire', 'Coventry',
       'Belfast', 'Leicester', 'Sunderland', 'Sandwell', 'Doncaster',
       'Stockport', 'Sefton', 'Nottingham']

uk = map(lambda x: x.lower(), uk)
def isuk(s):
    if s.lower() in uk:
        return 'UK'
    else:
        return s

In [13]:
def islondon(s):
    if 'london' in s.lower():
        return 'London'
    else:
        return s

In [12]:
userloc.loca.apply(lambda x: 'london' in x.lower()).sum()

12407

In [14]:
userloc['country'] = userloc.loca.apply(islondon)

In [16]:
userloc['country'] = userloc.loca.apply(isuk)

In [19]:
userloc['country'] = userloc.country.apply(isusa)

In [22]:
userinfo = pd.DataFrame(data=df.userID.unique(),)

In [39]:
userinfo = userinfo.sort_values(0).set_index(0)

In [53]:
a = userinfo.join(userloc.set_index('userID'),how='outer').drop_duplicates()

In [61]:
a.join(df.userID.value_counts())

In [64]:
rating = df[['userID','attraction','user_rating']]

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
le = LabelEncoder()

In [95]:
tr = pd.DataFrame()

In [97]:
tr['userID'] = le.fit_transform(rating.userID)

In [99]:
tr['attraction'] = le.fit_transform(rating.attraction)

In [100]:
tr['rating'] = rating.user_rating.apply(lambda x: int(x[0]))

In [70]:
rating['userID'] = le.fit_transform(rating.userID)

C:\Users\dinsoson\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
rating['attraction'] = le.fit_transform(rating.attraction)

C:\Users\dinsoson\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [87]:
tr['user_rating']=tr.user_rating.apply(lambda x: int(x[0]))

C:\Users\dinsoson\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
from surprise import SVD
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import cross_validate

In [110]:
%%time
data = Dataset.load_from_df(tr, Reader())

Wall time: 1.28 s

In [113]:
%%time
cross_validate(SVD(), data, cv=5, verbose=True, n_jobs=-1)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6339  0.6349  0.6355  0.6363  0.6291  0.6340  0.0025
RMSE (testset)    0.8370  0.8363  0.8405  0.8387  0.8355  0.8376  0.0018
Fit time          71.57   76.20   77.14   74.89   62.34   72.43   5.38
Test time         3.53    3.70    3.58    3.18    2.44    3.28    0.46
Wall time: 5min 42s

{u'fit_time': (71.57100009918213,
  76.19900012016296,
  77.14299988746643,
  74.88600015640259,
  62.34099984169006),
 u'test_mae': array([ 0.6339153 ,  0.63490452,  0.6355148 ,  0.63629218,  0.62912702]),
 u'test_rmse': array([ 0.83700478,  0.83630975,  0.84045728,  0.83872247,  0.83551996]),
 u'test_time': (3.5269999504089355,
  3.6999998092651367,
  3.576000213623047,
  3.177999973297119,
  2.439000129699707)}

In [93]:
cross_validate(SVD(), data, cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.5330  0.4358  0.4230  0.4239  0.4470  0.4526  0.0412
RMSE (testset)    0.7864  0.6043  0.5439  0.5583  0.6344  0.6255  0.0867
Fit time          0.24    0.09    0.09    0.08    0.10    0.12    0.06
Test time         0.07    0.01    0.00    0.01    0.01    0.02    0.03

{u'fit_time': (0.24000000953674316,
  0.08799982070922852,
  0.08600020408630371,
  0.07899999618530273,
  0.09800004959106445),
 u'test_mae': array([ 0.53297671,  0.43583739,  0.42301174,  0.42394194,  0.44702259]),
 u'test_rmse': array([ 0.78638482,  0.60428366,  0.54392033,  0.55830231,  0.63440212]),
 u'test_time': (0.06999993324279785,
  0.006000041961669922,
  0.004999876022338867,
  0.006000041961669922,
  0.005000114440917969)}

In [53]:
c = pd.read_csv('ukcities.csv',sep='\t',header=-1)

In [55]:
c[0].values

array(['London', 'Birmingham', 'Leeds', 'Glasgow', 'Sheffield', 'Bradford',
       'Liverpool', 'Edinburgh', 'Manchester', 'Bristol', 'Kirklees',
       'Fife', 'Wirral', 'North Lanarkshire', 'Wakefield', 'Cardiff',
       'Dudley', 'Wigan', 'East Riding', 'South Lanarkshire', 'Coventry',
       'Belfast', 'Leicester', 'Sunderland', 'Sandwell', 'Doncaster',
       'Stockport', 'Sefton', 'Nottingham'], dtype=object)

In [66]:
newl2 = newl.apply(isuk)

In [64]:
newl2.value_counts()

UK                       268847
USA                       95010
missing                   93557
Australia                 22052
Canada                    14790
India                      6571
Ireland                    5362
Singapore                  3159
New Zealand                3116
France                     3029
Israel                     2853
Germany                    2763
The Netherlands            2632
Italy                      2595
Spain                      2375
South Africa               2191
Malaysia                   2017
China                      1949
Norway                     1923
Sweden                     1895
Belgium                    1865
Switzerland                1846
United Arab Emirates       1833
Greece                     1651
Portugal                   1438
Romania                    1356
Denmark                    1293
District of Columbia       1273
Finland                    1271
Malta                       947
                          ...
ware,england                  1
Marriottsville                1
portland                      1
mersyside                     1
Muswellbrook                  1
udine                         1
cleveland uk                  1
barcelonabiker                1
Norrtalje                     1
Carbondale                    1
Sheringham                    1
stansted montfitchett         1
Βερολίνο                      1
Malta                         1
shenzhen                      1
Malta,                        1
lodon                         1
north lincs.                  1
Hextable Kent England         1
Bombay India                  1
gw2588                        1
Wye Valley                    1
Stanwick                      1
England - Reading             1
Dallas,tx                     1
goharsadaf                    1
Kells                         1
Newbold Verdon                1
Chirk                         1
Cupertino CA                  1
Name: loca, Length: 9681, dtype: int64

In [41]:
idv = df.userID.value_counts()

In [56]:
idv.describe()

count    215765.000000
mean          2.905277
std           6.930685
min           1.000000
25%           1.000000
50%           1.000000
75%           3.000000
max        1326.000000
Name: userID, dtype: float64

In [57]:
idv

A TripAdvisor Member    1326
WMIM                     416
David M                  305
David S                  264
John H                   261
BigHugh51                258
sheepygold               256
Richard F                250
John S                   245
John M                   244
David B                  243
Paul B                   242
John B                   234
Paul H                   226
Chris S                  219
Paul S                   219
John W                   208
David R                  205
Borzov                   204
Taxidevil                203
David G                  196
David C                  195
swift314                 195
David H                  189
David W                  184
Ian C                    184
Peter S                  183
John D                   183
buffalojim67             182
Sandygranny              180
                        ...
Silva A                    1
Rose-Marie A               1
AugustoReisJr              1
Murry W                    1
missharris                 1
ginniec390                 1
reprendre1                 1
Bluebear2207               1
Tamer A                    1
929gabif                   1
theras2000                 1
Tezza_mm                   1
kodampratap                1
Kishan K                   1
BrightonPhil               1
Trev0rAlis0n               1
MrEdible                   1
VanitaSawant               1
4surfgirls                 1
chelleburrow               1
BizzyLizzy1960             1
llbow                      1
Kishan P                   1
emily1532016               1
rachel j                   1
BrendaRuislip              1
GBerserker                 1
Trisch I                   1
TallTravels29              1
PwilliamsPwilliams         1
Name: userID, Length: 215765, dtype: int64

In [6]:
import numpy as np

                   attraction_British Museum  attraction_National Gallery
userID
Jayne H                                    0                            1
dbaizel                                    0                            1
jafarisoheil                               0                            1
JoMac110                                   0                            1
Kuroshitsuji I                             0                            1
SandyBlueBliss                             0                            1
canada236                                  0                            1
concon55                                   0                            1
NWtraveler                                 0                            1
Barry & Julie J                            0                            1
Oli O                                      0                            1
Benadicted                                 0                            1
Diane P                                    0                            1
sarahtravelled3                            0                            1
colleen c                                  0                            1
justliketetris                             0                            1
sundown_10                                 0                            1
PPetroff50                                 0                            1
hairbyDB                                   0                            1
Peter S                                    0                            1
ajm549                                     0                            1
WanderingFirefly                           0                            1
dannychan_sg                               0                            1
Sassysaab                                  0                            1
73Northernlights                           0                            1
turboshop                                  0                            1
Kelly V                                    0                            1
Wanderlust777                              0                            1
Uwe H                                      0                            1
ArielaIsrael                               0                            1
...                                      ...                          ...
id-mom                                     0                            1
Chris G                                    0                            1
vintiek                                    0                            1
Kotorprivatetours                          0                            1
orange808                                  0                            1
Contented77                                0                            1
DanyHaifa                                  0                            1
MacLancashire                              0                            1
Nicholas W                                 0                            1
jojomoz                                    0                            1
Richard W                                  0                            1
John L                                     0                            1
pagoda2014                                 0                            1
wookierv                                   0                            1
Panzano07                                  0                            1
edward t                                   0                            1
FWilkinson                                 0                            1
BigRuss1213                                0                            1
PatP043                                    0                            1
Julia N                                    0                            1
trek4cs                                    0                            1
Gisela V                                   0                            1
Dalyn F                                    0                            1
Mary-Anne W                                0                            1
Sarah P                                    0                            1
James C                                    0                            1
Ruth25-25                                  0                            1
chigurhanton                               0                            1
TravelerMikePlano                          0                            1
velvetina                                  0                            1

[10000 rows x 2 columns]