In [1]:
import pandas as pd
import numpy as np
df = pd.read_pickle('reviews0')

In [2]:
from sklearn.preprocessing import LabelEncoder
from surprise import SVD
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import cross_validate

In [3]:
le = LabelEncoder()
tr = pd.DataFrame()

In [4]:
tr['userID'] = le.fit_transform(df.userID)
tr['attraction'] = le.fit_transform(df.attraction)
tr['rating'] = df.user_rating.apply(lambda x: int(x[0]))
tr = tr.sample(frac=1)

In [11]:
data = Dataset.load_from_df(tr, Reader(rating_scale=(1, 5)))

In [5]:
%%time
cross_validate(SVD(), data, cv=5, verbose=True, n_jobs=-1)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6356  0.6348  0.6346  0.6348  0.6346  0.6349  0.0003
RMSE (testset)    0.8370  0.8367  0.8355  0.8390  0.8379  0.8372  0.0012
Fit time          26.16   27.95   27.19   25.73   24.99   26.40   1.05
Test time         1.38    1.29    1.33    1.17    1.22    1.28    0.08
Wall time: 1min 44s

In [6]:
from surprise import AlgoBase
class mrate(AlgoBase):

    def __init__(self):
        AlgoBase.__init__(self)

    def fit(self, trainset):
        # call base method
        AlgoBase.fit(self, trainset)
        # user mean
#         self.user_r = {}
#         for u in self.trainset.all_users():
#             umean = np.mean([x for _,x in self.trainset.ur[u]])
#             self.user_r.update({u:umean})
            
        # attraction mean
        self.at_r = {}
        for i in self.trainset.all_items():
            imean = np.mean([x for _,x in self.trainset.ir[i]])
            self.at_r.update({i:imean})

        return self

    def estimate(self, u, i):
        if self.trainset.knows_item(i):
            return self.at_r[i]
        else:
            return self.trainset.global_mean

In [12]:
%%time
algo = mrate()
cross_validate(algo, data, cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm mrate on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6512  0.6489  0.6487  0.6509  0.6487  0.6497  0.0011
RMSE (testset)    0.8416  0.8358  0.8366  0.8413  0.8344  0.8379  0.0030
Fit time          0.16    0.34    0.32    0.33    0.32    0.29    0.07
Test time         1.02    1.01    1.02    1.21    1.00    1.05    0.08
Wall time: 15.8 s

In [10]:
cross_validate(algo, data, cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm mrate on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3333  0.3333  0.2000  0.3500  1.7000  0.5833  0.5610
RMSE (testset)    0.4303  0.4303  0.2828  0.4950  1.9723  0.7222  0.6289
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{u'fit_time': (0.0, 0.0009999275207519531, 0.0, 0.0, 0.0),
 u'test_mae': array([0.33333333, 0.33333333, 0.2       , 0.35      , 1.7       ]),
 u'test_rmse': array([0.43033148, 0.43033148, 0.28284271, 0.49497475, 1.97230829]),
 u'test_time': (0.0, 0.0, 0.0, 0.0009999275207519531, 0.0009999275207519531)}

In [9]:
t.to_pickle('t.pkl')

In [10]:
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25)

In [11]:
testset

[(131276L, 240L, 5.0), (108291L, 795L, 5.0), (71464L, 124L, 4.0)]

In [13]:
algo.fit(trainset)

In [14]:
algo.test(testset)

[Prediction(uid=131276L, iid=240L, r_ui=5.0, est=4.555555555555555, details={u'was_impossible': False}),
 Prediction(uid=108291L, iid=795L, r_ui=5.0, est=4.555555555555555, details={u'was_impossible': False}),
 Prediction(uid=71464L, iid=124L, r_ui=4.0, est=4.555555555555555, details={u'was_impossible': False})]

In [15]:
from surprise import accuracy

In [22]:
from surprise.model_selection.split import KFold

In [23]:
kf = KFold(n_splits=3)

In [32]:
for trainset, testset in kf.split(data):
    algo.fit(trainset)
    accuracy.rmse(algo.test(testset))

RMSE: 0.5000
RMSE: 0.6614
RMSE: 0.5000

In [ ]:
%%time
cross_validate(algo, data, cv=5, verbose=True, n_jobs=-1)

In [104]:
%%time
algo.test(da.build_full_trainset().build_testset())

[Prediction(uid=1L, iid=1L, r_ui=4.0, est=4.166666666666666, details={u'was_impossible': False}),
 Prediction(uid=1L, iid=2L, r_ui=4.0, est=4.25, details={u'was_impossible': False}),
 Prediction(uid=2L, iid=2L, r_ui=5.0, est=4.5, details={u'was_impossible': False}),
 Prediction(uid=2L, iid=1L, r_ui=4.0, est=4.416666666666666, details={u'was_impossible': False}),
 Prediction(uid=3L, iid=1L, r_ui=5.0, est=4.666666666666666, details={u'was_impossible': False})]

In [105]:
a

   userID  attraction  rating
0       1           1       4
1       2           2       5
2       3           1       5
3       1           2       4
4       2           1       4

In [ ]:
cross_validate(algo, data, cv=5, verbose=True, n_jobs=-1)

In [96]:
dic[3]

4

In [80]:
a

   userID  attraction  rating
0       1           1       4
1       2           2       5
2       3           1       5
3       1           2       4
4       2           1       4

In [35]:
algo=MyOwnAlgorithm()
da = Dataset.load_from_df(a, Reader(rating_scale=(1, 5)))
cross_validate(algo, da, verbose=True)

Evaluating RMSE, MAE of algorithm MyOwnAlgorithm on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.7500  0.7500  0.5000  0.5000  0.5000  0.6000  0.1225
RMSE (testset)    0.7500  0.7500  0.5000  0.5000  0.5000  0.6000  0.1225
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{u'fit_time': (0.0, 0.0, 0.0, 0.0, 0.0),
 u'test_mae': array([0.75, 0.75, 0.5 , 0.5 , 0.5 ]),
 u'test_rmse': array([0.75, 0.75, 0.5 , 0.5 , 0.5 ]),
 u'test_time': (0.0, 0.0, 0.0, 0.0, 0.0)}

In [48]:
algo.fit(da.build_full_trainset())

In [65]:
te = da.build_full_trainset().build_testset()

In [67]:
a.rating.mean()

4.4

In [66]:
algo.test(te)

[Prediction(uid=1L, iid=1L, r_ui=4.0, est=4.4, details={u'was_impossible': False}),
 Prediction(uid=1L, iid=2L, r_ui=4.0, est=4.4, details={u'was_impossible': False}),
 Prediction(uid=2L, iid=2L, r_ui=5.0, est=4.4, details={u'was_impossible': False}),
 Prediction(uid=2L, iid=1L, r_ui=4.0, est=4.4, details={u'was_impossible': False}),
 Prediction(uid=3L, iid=1L, r_ui=5.0, est=4.4, details={u'was_impossible': False})]

In [62]:
algo.predict(1,2)

Prediction(uid=1, iid=2, r_ui=None, est=4.4, details={u'was_impossible': False})

In [46]:
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25)

In [25]:
algo.fit(trainset)

In [39]:
te = tr.iloc[3:4]

In [38]:
tr.iloc[3:4]

       userID  attraction  rating
54052  315764          99       5

In [47]:
tt = Dataset.load_from_df(te, Reader())

In [46]:
te

       userID  attraction  rating
54052      22          99       5

In [41]:
tt.build_full_trainset()

In [16]:
sum(df.userID.value_counts() == 1)

116322

In [ ]:
for i in df.loc[df.userID == 'A TripAdvisor Member'].index:
    df.iloc[i]['userID'] = 'A TripAdvisor Member {}'.format(i)

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
df.loc[df.userID == 'A TripAdvisor Member']

,num,userID,attraction,user_rating,user_location,user_contributions,user_upvotes,viamobile,review_quote,review_content,review_link
256,253,A TripAdvisor Member,National Gallery,40,missing,3,2,via mobile,Great,"Always worth a visit!!!\nIf in London, you can...",/ShowUserReviews-g186338-d188862-r573773285-Na...
272,268,A TripAdvisor Member,National Gallery,40,missing,20,3,via mobile,Amazing,I quite literally spent all day in here and di...,/ShowUserReviews-g186338-d188862-r573512784-Na...
475,469,A TripAdvisor Member,National Gallery,50,missing,23,4,via mobile,Always a good idea.,The museums in London are free and is always a...,/ShowUserReviews-g186338-d188862-r568515619-Na...
818,810,A TripAdvisor Member,National Gallery,40,missing,11,4,via mobile,National Gallery,Amazing.\nI need a few more days.\nAll Museums...,/ShowUserReviews-g186338-d188862-r557975808-Na...
950,939,A TripAdvisor Member,National Gallery,50,missing,11,4,via mobile,Some of the greats here,Beautiful gallery with loads of great art. Not...,/ShowUserReviews-g186338-d188862-r553425319-Na...
1154,1146,A TripAdvisor Member,National Gallery,50,missing,21,2,via mobile,Beautiful,What a lovely place. Well kept. The artwork is...,/ShowUserReviews-g186338-d188862-r545829430-Na...
1347,1338,A TripAdvisor Member,National Gallery,50,missing,11,2,via mobile,Unexpectedly great,"The gallery has so much to see, and it’s free....",/ShowUserReviews-g186338-d188862-r539212127-Na...
1363,1354,A TripAdvisor Member,National Gallery,50,missing,5,0,via mobile,Great visit,As we love art we were very impressed with the...,/ShowUserReviews-g186338-d188862-r538766427-Na...
1371,1362,A TripAdvisor Member,National Gallery,50,missing,6,2,via mobile,Monochrome exhibit was excellent,"It sounded dull, and took some young people (1...",/ShowUserReviews-g186338-d188862-r538512791-Na...
2028,2020,A TripAdvisor Member,National Gallery,40,missing,3,1,via mobile,Enjoy both the old and new,"This museum had it all, an exhibit of Devinci,...",/ShowUserReviews-g186338-d188862-r515602860-Na...
2191,2184,A TripAdvisor Member,National Gallery,50,missing,23,1,via mobile,Wonderful,"Top grade paintings, not to big to tire you to...",/ShowUserReviews-g186338-d188862-r508610847-Na...
2453,2442,A TripAdvisor Member,National Gallery,50,missing,12,5,via mobile,Must see in London,The history inside this building is unbelievab...,/ShowUserReviews-g186338-d188862-r500520952-Na...
2523,2512,A TripAdvisor Member,National Gallery,40,missing,10,2,via mobile,Lovely but busy,Visited on a Saturday so as expected it was bu...,/ShowUserReviews-g186338-d188862-r498005071-Na...
2949,2937,A TripAdvisor Member,National Gallery,50,missing,4,0,via mobile,The best museum of London,I prostrate myself for so much beauty. Despite...,/ShowUserReviews-g186338-d188862-r484061743-Na...
3436,3429,A TripAdvisor Member,National Gallery,50,missing,27,6,via mobile,Beautiful museum!,There are so many beautiful pieces of art here...,/ShowUserReviews-g186338-d188862-r470710866-Na...
3555,3548,A TripAdvisor Member,National Gallery,50,missing,1,0,via mobile,The best gallery I've ever seen,Went there with my friends and it was the firs...,/ShowUserReviews-g186338-d188862-r467553084-Na...
4023,4013,A TripAdvisor Member,National Gallery,50,missing,3,2,via mobile,A favourite in London,Always try to get some time to view the artwor...,/ShowUserReviews-g186338-d188862-r456952265-Na...
4626,4612,A TripAdvisor Member,National Gallery,50,missing,5,1,via mobile,Very interesting,If you visit London the National Gallery shoul...,/ShowUserReviews-g186338-d188862-r440780433-Na...
6129,6113,A TripAdvisor Member,National Gallery,40,missing,6,1,via mobile,Excellent museum!,Lots of good pieces. The audio tour was inform...,/ShowUserReviews-g186338-d188862-r400460954-Na...
7142,7124,A TripAdvisor Member,National Gallery,40,missing,4,1,via mobile,Enrichment,Was an amazing layout of beautiful and enrichi...,/ShowUserReviews-g186338-d188862-r375851339-Na...
18914,18886,A TripAdvisor Member,National Gallery,50,"Las Vegas, Nevada",5,31,no,Absolutely worth the time and money!,"Excellent collections, superbly arranged, easy...",/ShowUserReviews-g186338-d188862-r4939238-Nati...
18918,18890,A TripAdvisor Member,National Gallery,50,missing,2,15,no,Don't try to do it all at once!,"The National Gallery is fantastic, but if you ...",/ShowUserReviews-g186338-d188862-r2504486-Nati...
19025,18996,A TripAdvisor Member,British Museum,50,missing,31,15,via mobile,Well worth the visit,We live in London but had never visited. Decid...,/ShowUserReviews-g186338-d187555-r578706136-Br...
19088,19061,A TripAdvisor Member,British Museum,50,missing,14,2,via mobile,Fab,We loved this place so much to see you could s...,/ShowUserReviews-g186338-d187555-r577211449-Br...
19268,19242,A TripAdvisor Member,British Museum,40,missing,20,3,via mobile,Overwhelmingly good,"So much stuff, so little time. Go in through t...",/ShowUserReviews-g186338-d187555-r573512482-Br...
19339,19312,A TripAdvisor Member,British Museum,50,missing,5,0,via mobile,Flying visit,How did I get to 50 without visiting? And this...,/ShowUserReviews-g186338-d187555-r572258049-Br...
19552,19526,A TripAdvisor Member,British Museum,50,missing,38,23,via mobile,Treasures from all over the world,Even if you see historical items and unique tr...,/ShowUserReviews-g186338-d187555-r568466324-Br...
19639,19614,A TripAdvisor Member,British Museum,50,missing,14,4,via mobile,Beautiful,The British Museum is a must see! Enjoyed ever...,/ShowUserReviews-g186338-d187555-r566514424-Br...
19701,19676,A TripAdvisor Member,British Museum,50,missing,3,0,via mobile,Museums,Great museum to visit when you have an hour or...,/ShowUserReviews-g186338-d187555-r565279597-Br...
19889,19867,A TripAdvisor Member,British Museum,50,missing,4,0,via mobile,Culture,A great day out showing some friends around Lo...,/ShowUserReviews-g186338-d187555-r562268978-Br...
...,...,...,...,...,...,...,...,...,...,...,...
618474,618467,A TripAdvisor Member,The London Pass,10,missing,7,8,via mobile,Don’t Waste Your Money,London Pass says bypass the queues and save mo...,/ShowUserReviews-g186338-d11768364-r570352357-...
618759,618750,A TripAdvisor Member,Speakers' Corner,40,missing,10,6,via mobile,Unusual Experience,Stopped and saw this for nearly an hour - good...,/ShowUserReviews-g186338-d240651-r474094542-Sp...
619069,619065,A TripAdvisor Member,Brent Cross Shopping Centre,50,missing,18,4,via mobile,Great Shops And Food,Live nearby so I visit hear a lot. All the sho...,/ShowUserReviews-g186338-d5321829-r532348503-B...
619400,619395,A TripAdvisor Member,Olympia London,40,missing,70,15,via mobile,E-Learning Show,"I attended the E-Learning Show here, transport...",/ShowUserReviews-g186338-d548773-r557629618-Ol...
620170,620163,A TripAdvisor Member,Loftus Road Stadium,50,missing,5,0,via mobile,Barnsley Game,What a match dominated from start to finish re...,/ShowUserReviews-g186338-d3922389-r466847657-L...
620185,620178,A TripAdvisor Member,Loftus Road Stadium,50,missing,20,8,via mobile,Lovely,Lovely ground with a lovely atmosphere. The gr...,/ShowUserReviews-g186338-d3922389-r408569518-L...
620186,620179,A TripAdvisor Member,Loftus Road Stadium,50,missing,12,0,via mobile,Feels like home every single time,Have been coming to this ground for years. I m...,/ShowUserReviews-g186338-d3922389-r405448773-L...
620457,620447,A TripAdvisor Member,Little Angel Theatre,50,missing,1,1,no,Fantastic place for kids and grown ups,This is a fantastic place - brilliant puppet s...,/ShowUserReviews-g186338-d214616-r1183692-Litt...
620520,620510,A TripAdvisor Member,Ealing,50,missing,1,0,via mobile,"Tiramisu Cafe, Ealing Broadway",Really lovely little cafe on St Mary's road. F...,/ShowUserReviews-g186338-d218010-r506774283-Ea...
622067,622054,A TripAdvisor Member,Notting Hill Coronet,40,"London, UK",1,2,no,Cinema Goes NON-SMOKING,"Well, in standard fashion the trends that star...",/ShowUserReviews-g186338-d188542-r693764-Notti...
622364,622351,A TripAdvisor Member,Garden Museum,20,missing,1,1,via mobile,Underwhelming,Visited mainly to see the John Brookes exhibit...,/ShowUserReviews-g186338-d211732-r553451801-Ga...
622413,622399,A TripAdvisor Member,Garden Museum,40,missing,7,3,via mobile,A hidden gem,Well worth a visit if you're in London for the...,/ShowUserReviews-g186338-d211732-r501598143-Ga...
622719,622711,A TripAdvisor Member,3 Savile Row,30,"Swindon, Wiltshire UK",1,4,no,3 Savile Row,Don't get too excited about this property. It ...,/ShowUserReviews-g186338-d189039-r4369771-3_Sa...
622720,622712,A TripAdvisor Member,3 Savile Row,40,"Dallas, Texas",1,7,no,A visit to 3 Savile Row,"All Beatles fans should take the time, while i...",/ShowUserReviews-g186338-d189039-r719914-3_Sav...
623494,623486,A TripAdvisor Member,Virgin Trains,40,missing,1,0,via mobile,Virgin trains,Great service on the train very quick from Man...,/ShowUserReviews-g186338-d10463990-r564060178-...
623512,623503,A TripAdvisor Member,Virgin Trains,50,missing,10,3,via mobile,First First Class,Treated like a queen. Im disabled and was look...,/ShowUserReviews-g186338-d10463990-r560772079-...
623728,623720,A TripAdvisor Member,Virgin Trains,10,missing,8,9,via mobile,Not enough food! First class,Traveling first class from Glasgow to London w...,/ShowUserReviews-g186338-d10463990-r523385533-...
623845,623836,A TripAdvisor Member,Virgin Trains,20,"Glasgow, United Kingdom",68,33,via mobile,Poor service,Booked return tickets Glasgow to London. Train...,/ShowUserReviews-g186338-d10463990-r499970134-...
624387,624380,A TripAdvisor Member,Gallions Reach Shopping Park,40,missing,24,5,via mobile,Shopping,Is a ok place to shop but can be difficult to ...,/ShowUserReviews-g186338-d2705202-r475037481-G...
624476,624471,A TripAdvisor Member,Wood Street Indoor Market,50,missing,2,6,via mobile,Great place,The market is a lovely place to visit. All the...,/ShowUserReviews-g186338-d4374615-r363877082-W...
625006,625000,A TripAdvisor Member,Taste of London,50,missing,7,0,via mobile,Love it,I always eat so much trying to taste something...,/ShowUserReviews-g186338-d10020594-r533391098-...
625229,625225,A TripAdvisor Member,Church Street,30,"Shelby, North Carolina",1,8,no,An unusual look at some Londoners.,We discovered Church St about 30 years ago whe...,/ShowUserReviews-g186338-d240719-r4970513-Chur...
625368,625364,A TripAdvisor Member,Belmont Children's Farm,40,"Ilford, United Kingdom",7,3,via mobile,Clean farm and friendly staff,I was not able to locate the Pig pen. Finding ...,/ShowUserReviews-g186338-d4174172-r405757275-B...
625545,625576,A TripAdvisor Member,Whiteleys,10,missing,34,4,via mobile,Avoid!!,Worst mall ever. Not worth the cisit. Most sto...,/ShowUserReviews-g186338-d240724-r478971453-Wh...
626220,626221,A TripAdvisor Member,Millbank Tower,30,missing,4,0,via mobile,Not all that!!,I book this as a deal. £50 isn't bad for a bot...,/ShowUserReviews-g186338-d3548499-r382200882-M...
626269,626269,A TripAdvisor Member,"65 Queen's Gate, Baden-Powell House",50,temecula ca,1,1,no,relax with kids,relaxed with kids food adequate room comfortab...,/ShowUserReviews-g186338-d211753-r1258543-65_Q...
626270,626270,A TripAdvisor Member,"65 Queen's Gate, Baden-Powell House",10,"Dublin, CA",1,8,no,Bed Bugs at the Baden Powell House,I did not enjoy my stay at the BP house. I got...,/ShowUserReviews-g186338-d211753-r812988-65_Qu...
626271,626271,A TripAdvisor Member,"65 Queen's Gate, Baden-Powell House",30,"surrey, british columbia",1,3,no,loved it :),I stayed at BP house with a group of Girl Guid...,/ShowUserReviews-g186338-d211753-r738750-65_Qu...
626547,626548,A TripAdvisor Member,Petticoat Lane,50,Wisconson,1,7,no,A must for discount shopping lovers,"I loved it! I went on Sunday, when it expands ...",/ShowUserReviews-g186338-d187713-r1236978-Pett...
626841,626842,A TripAdvisor Member,Jurassic Kingdom,10,missing,9,11,via mobile,Jurrassic con,Paid £39 for a family ticket to the jurrassic ...,/ShowUserReviews-g186338-d12340074-r522284745-...

In [17]:
df.userID.value_counts()

A TripAdvisor Member    1326
WMIM                     416
David M                  305
David S                  264
John H                   261
BigHugh51                258
sheepygold               256
Richard F                250
John S                   245
John M                   244
David B                  243
Paul B                   242
John B                   234
Paul H                   226
Chris S                  219
Paul S                   219
John W                   208
David R                  205
Borzov                   204
Taxidevil                203
David G                  196
David C                  195
swift314                 195
David H                  189
David W                  184
Ian C                    184
Peter S                  183
John D                   183
buffalojim67             182
Sandygranny              180
                        ...
Silva A                    1
Rose-Marie A               1
AugustoReisJr              1
Murry W                    1
missharris                 1
ginniec390                 1
reprendre1                 1
Bluebear2207               1
Tamer A                    1
929gabif                   1
theras2000                 1
Tezza_mm                   1
kodampratap                1
Kishan K                   1
BrightonPhil               1
Trev0rAlis0n               1
MrEdible                   1
VanitaSawant               1
4surfgirls                 1
chelleburrow               1
BizzyLizzy1960             1
llbow                      1
Kishan P                   1
emily1532016               1
rachel j                   1
BrendaRuislip              1
GBerserker                 1
Trisch I                   1
TallTravels29              1
PwilliamsPwilliams         1
Name: userID, Length: 215765, dtype: int64